public/index.html
<!DOCTYPE html><html lang="en"><head><title>Logo</title><meta name="description"><link rel="stylesheet" href="css/style.css"><script src="js/some_static.js"></script><link rel="icon" href="images/some_static.jpg"></head><body><div class="content1"><div class="content1_header"></div><div class="content1_banner"><div class="content1_banner_caption">LET US MAKE YOUR LIVES EASIER</div></div></div></body></html>

public/images/jade/index.jade
- var headTitle = 'Logo'

doctype html
html(lang='en')
	head
		title= headTitle
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='css/style.css')
		script(src='js/some_static.js')
		link(rel='icon', href='images/some_static.jpg')
	body
		div.content1
			div.content1_header
			div.content1_banner
				div.content1_banner_caption LET US MAKE YOUR LIVES EASIER
		
					
